

@mixin backtotopBtn() {
	display: flex;
	align-items:center;
	justify-content:center;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 999999;
	font-size: 18px;
	border: none;
	outline: none;
	//background-color: $greenDark;
	background: $red;
	//border:2px solid $white;
	color: $black;
	cursor: pointer;
	//padding: 15px 0;
	height:60px;
	width:60px;
	border-radius: 4px;

	svg {fill:$white;width:95%;}

/*-----html

<button onclick="topFunction()" id="backtotopBtn" title="Go to top">

	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-chevron-up" viewBox="0 0 16 16">
  	<path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
	</svg>

</button>

-----*/

}